{% extends "base.html.twig" %}

{% block title %}
    Mon panier
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br>

    <h1>Mon panier</h1>

    <br><br><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Billet</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Formule</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if data is empty %}
                <tr>
                    <td colspan="7">Votre panier est vide</td>
                </tr>
            {% else %}
                {% for element in data %}
                    <tr>
                        <td>
                            <img src="/uploads/{{ element.event.illustration }}" alt="{{ element.event.name }}" height="75px"><br/> 
                        </td>
                        <td>{{ element.event.name }}</td>



                        <td>     <a href="{{ path('cart_add', {'type': element.type, 'id': element.event.id}) }}">
                                <img src="{{ asset('assets/img/plus.png') }}" height="20px">
                        </a> {{ element.quantity }}                           <a href="{{ path('cart_remove', {'type': element.type, 'id': element.event.id}) }}">
                                <img src="{{ asset('assets/img/moins.png') }}" height="20px">
                            </a></td>
                        
                        <td>{{ (element.price / 100) | number_format(2, ',' , '.') }} €</td>
                        <td>{{ element.type }}</td>
                        <td>{{ (element.price * element.quantity / 100) | number_format(2, ',' , '.') }} €</td>
                        <td> 
  
                            <a href="{{ path('cart_delete', {'type': element.type, 'id': element.event.id}) }}">
                                <img src="{{ asset('assets/img/poubelle-de-recyclage .png') }}" height="20px" >
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Total</td>
                <td>
                    {% set total = 0 %}
                    {% for item in data %}
                        {% set total = total + item.price * item.quantity %}
                    {% endfor %}
                    {{ (total / 100) | number_format(2, ',' , '.') }} €
                </td>
                <td>
                    <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider le panier</a>
                    {% if app.user %}
                        <a href="{{ path('app_order_add') }}" class="btn btn-primary">Valider le panier</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Valider le panier</a>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>

    <br><br><br><br><br><br><br>
{% endblock %}
