{% extends 'base.html.twig' %}

{% block title %}Événements - JO 2024{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container py-5">
    <div class="row">
        <!-- Filtrer -->
        <div class="col-md-3">
            <h3 class="mb-4">Filtrer</h3>
            {{ form(form) }}
        </div>

        <!-- Liste des événements -->
        <div class="col-md-9">
            <h1 class="mb-4">Nos événements</h1>
            <div class="row">
                {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <a href="{{ path('event', {'slug': event.slug}) }}">
                            <img src="/uploads/{{ event.illustration }}" class="card-img-top" alt="{{ event.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{ event.subtitle }}</p>
                            <p class="card-text">{{ (event.price / 100) | number_format(2, ',', '.') }}€</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
