{% extends "base.html.twig" %}

{% block title %}
    {{ event.name }} - La boutique Française
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container my-5">
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ event.illustration }}" alt="{{ event.name }}" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h3>{{ event.name }}</h3>
            <p>{{ event.subtitle }}</p>
            <h4 class="text-primary">{{ (event.price / 100) | number_format(2, ',', '.') }} €</h4>
            <hr>
            <p>{{ event.description }}</p>
            <div class="btn-group" role="group" aria-label="Ajouter au panier">
                <a href="{{ path('cart_add', {'type': 'solo', 'id': event.id}) }}" class="btn btn-success">Ajouter au panier (Solo)</a>
                <a href="{{ path('cart_add', {'type': 'duo', 'id': event.id}) }}" class="btn btn-warning">Ajouter au panier (Duo)</a>
                <a href="{{ path('cart_add', {'type': 'family', 'id': event.id}) }}" class="btn btn-danger">Ajouter au panier (Famille)</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
