{% extends "base.html.twig" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>

<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('assets/css/boutiquefrancaise.css') }}">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for event in events|slice(-3) %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for event in events|slice(-3) %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <a href="{{ path('event', { 'slug': event.slug }) }}
">
                    <img class="d-block w-100 img-fluid" src="/uploads/{{ event.illustration }}" alt="{{ event.name }}">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ event.name }}</h5>
                    <p>{{ event.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>



<!-- Fin du carrousel -->

<br>
<br><br>
<br>
<br>
<br>
<br>


<!-- DÉBUT DES CARACTÉRISTIQUES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Expérience immersive. <span class="text-muted">À couper le souffle.</span></h2>
        <p class="lead">Plongez dans une expérience unique. Explorez de nouveaux horizons et laissez-vous emporter par la magie de notre événement.</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/img/_140e956f-8801-407b-886c-5dedaaff5261.jpeg') }}" class="img-fluid rounded" alt="Image IA">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Un événement à ne pas manquer. <span class="text-muted">Venez découvrir par vous-même.</span></h2>
        <p class="lead">Ne ratez pas cette opportunité unique. Rejoignez-nous pour une expérience mémorable et enrichissante.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{ asset('assets/img/_f0487b7b-0345-49d6-bdf4-aba48a019aa8.jpeg') }}" class="img-fluid rounded" alt="Image IA">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Innovation et créativité. <span class="text-muted">Le rendez-vous des esprits brillants.</span></h2>
        <p class="lead">Explorez les dernières innovations et découvrez les esprits les plus créatifs de notre époque. Un événement à ne pas manquer pour les passionnés de technologie et d'art.</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/img/sport.png') }}" class="img-fluid rounded" alt="Image IA">
    </div>
</div>

<hr class="featurette-divider">

<!-- FIN DES CARACTÉRISTIQUES -->
{% endblock %}
