{% extends "base.html.twig" %}

{% block title %}Politique de confidentialité - Jeux Olympiques Paris 2024{% endblock %}

{% block content %}
<!-- Main content -->
<div class="container mt-5">
<br>
<br>
<br>
<br>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center mb-4">Politique de confidentialité</h1>
            <p class="lead">Dernière mise à jour : 06/03/2024</p>
            
            <p>Le COMITE D'ORGANISATION DES JEUX OLYMPIQUES ET PARALYMPIQUES DE PARIS 2024 (ci-après « Paris 2024 ») s’engage à respecter votre vie privée et à veiller à la protection de vos données à caractère personnel lorsque vous utilisez les plateformes de billetterie des Jeux Olympiques Paris2024. A ce titre, Paris 2024 s’engage à assurer une protection adéquate des données à caractère personnel qu’il pourrait être amené à traiter pour la poursuite des finalités décrites ci-après.</p>

            <h2>1. Qui est le responsable du traitement de vos données à caractère personnel ?</h2>
            <p>Paris 2024, en tant que responsable du traitement, est chargé de la collecte, de l'utilisation et de la protection de vos données personnelles. Notre siège social est situé au 46 rue Proudhon 93210 Saint-Denis (France).</p>

            <h2>2. Origine de vos informations personnelles et personnes concernées</h2>
            <p>Les personnes concernées par notre politique de confidentialité incluent diverses parties telles que les acheteurs de billets, les porteurs de billets, les acquéreurs, les utilisateurs, les vendeurs et les volontaires.</p>
            <p>Les données personnelles sont collectées directement auprès des utilisateurs lors de l'achat de billets, de l'utilisation de nos plateformes ou de leur interaction avec nos services.</p>

            <h2>3. Pour quelles finalités sont traitées vos données personnelles ?</h2>
            <p>Nous traitons vos données personnelles dans le but de :</p>
            <ul>
                <li>Faciliter l'achat et la gestion des billets pour les Jeux Olympiques et Paralympiques Paris 2024</li>
                <li>Communiquer avec les utilisateurs concernant les événements, les mises à jour et les offres spéciales</li>
                <li>Améliorer nos services et personnaliser l'expérience utilisateur sur nos plateformes</li>
                <li>Assurer la sécurité et l'intégrité de nos systèmes et données</li>
            </ul>

            <h2>4. Quelles sont les données à caractère personnel traitées ?</h2>
            <p>Les données personnelles que nous traitons peuvent inclure, sans s'y limiter :</p>
            <ul>
                <li>Noms et prénoms</li>
                <li>Adresses e-mail</li>
                <li>Informations de paiement</li>
                <li>Informations de contact</li>
                <li>Informations de localisation</li>
                <li>Préférences de communication</li>
                <li>Autres informations fournies par les utilisateurs lors de leur interaction avec nos services</li>
            </ul>

            <h2>5. Combien de temps vos données à caractère personnel sont-elles conservées ?</h2>
            <p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées, à moins qu'une période de conservation plus longue ne soit requise ou autorisée par la loi.</p>
            <p>Nous évaluons régulièrement nos pratiques de conservation des données pour nous assurer que nous ne conservons que les données nécessaires et pertinentes.</p>

            <h2>6. À qui vos données à caractère personnel sont-elles communiquées ?</h2>
            <p>Vos données personnelles peuvent être partagées avec :</p>
            <ul>
                <li>Nos partenaires et fournisseurs de services impliqués dans l'organisation des Jeux Olympiques</li>
                <li>Les autorités compétentes conformément à la loi en vigueur</li>
                <li>D'autres parties prenantes des Jeux, telles que le Comité International Olympique (CIO) et le Comité International Paralympique (IPC)</li>
                <li>Des tiers fournisseurs de services, tels que des prestataires de paiement et de traitement des données</li>
            </ul>
            <p>Nous veillons à ce que tous les tiers avec lesquels nous partageons vos données respectent les normes de protection des données appropriées et n'utilisent vos données que dans le cadre des finalités spécifiques pour lesquelles elles ont été partagées.</p>

            <h2>7. Comment vos données sont-elles protégées ?</h2>
            <p>Nous mettons en place des mesures de sécurité techniques, administratives et physiques pour protéger vos données personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction.</p>
            <p>Nous utilisons des protocoles de sécurité avancés pour sécuriser les transactions en ligne et protéger la confidentialité des données lors de la transmission.</p>

            <h2>8. Quelle est la politique en matière de cookies et traceurs ?</h2>
            <p>Nos plateformes utilisent des cookies et d'autres technologies de suivi pour améliorer l'expérience utilisateur, analyser les tendances, administrer le site et recueillir des informations démographiques sur nos utilisateurs.</p>
            <p>Les utilisateurs ont la possibilité de contrôler les cookies via les paramètres de leur navigateur et de refuser leur utilisation, mais cela peut affecter leur expérience de navigation sur nos plateformes.</p>

            <h2>9. De quels droits disposez-vous sur vos données à caractère personnel ?</h2>
            <p>En vertu de la législation en vigueur sur la protection des données, vous disposez de certains droits concernant vos données personnelles, notamment :</p>
            <ul>
                <li>Le droit d'accès à vos données personnelles et à des informations sur leur utilisation</li>
                <li>Le droit de rectification des données inexactes ou incomplètes</li>
                <li>Le droit à l'effacement de vos données dans certaines circonstances</li>
                <li>Le droit à la limitation du traitement de vos données dans certaines situations</li>
                <li>Le droit à la portabilité de vos données vers un autre fournisseur de services</li>
                <li>Le droit d'opposition au traitement de vos données pour des raisons liées à votre situation particulière</li>
            </ul>
            <p>Pour exercer vos droits ou pour toute question ou préoccupation concernant notre politique de confidentialité, veuillez nous contacter à l'adresse indiquée dans la section 1.</p>
            
            <p>Nous nous réservons le droit de modifier cette Politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de mise à jour correspondante.</p>
            
            <p class="text-muted">Dernière mise à jour : 06/03/2024</p>
        </div>
    </div>
</div>
{% endblock %}
