{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

	<div class='container'>
		<div class="row">
			<div class="col-6 alert-info">
				<span class='display-3'>{{countAllUser}}</span>
				Utilisateurs
			</div>
			<div class="col-6 alert-succes">
				<span class='display-3'>{{countAllEvent['value']}}</span>
				Evenement
			</div>

		</div>
		<div class="col-6 alert-succes">
			votre visite numero :<span class='display-3'>
				{{app.session.get('nbVisite')}} 
			</span>

		</div>

	</div>



{% endblock %}
