{% extends "base.html.twig" %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>	
<br>
<br>
<br>
<br>
<br>
<br>	
	{{reponse}}

	{% if reponse == 'TICKET OFFICIEL' %}
			{{nom}}
			{{prenom}}
			{{mail}}
	{% endif %}

<br>
<br>
<br>
<br>	
{% endblock %}
