{% extends "base.html.twig" %}

{% block title %}Hello SessionController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>

votre visite numero :{{app.session.get('nbVisite')}}
</h1>
</div>
{% endblock %}
