{% extends "base.html.twig" %}

{% block title %}Conditions Générales d'Achat de Paris 2024{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<br>
<br>
<br>
<br>
    <h1>Conditions Générales d'Achat de Paris 2024</h1>

    <p>Ces conditions générales régissent les achats effectués par Paris 2024 auprès de ses fournisseurs (ci-après dénommés le "Prestataire"). En acceptant toute commande, le Prestataire adhère automatiquement aux présentes conditions, à moins d'un accord écrit contraire de Paris 2024.</p>

    <h2>1. Acceptation des Conditions Générales</h2>
    <p>Le Prestataire renonce expressément à se prévaloir de ses propres conditions générales de vente ou d'exécution, sauf accord écrit préalable de Paris 2024. Toute condition contraire opposée par le Prestataire sera inopposable à Paris 2024, quel que soit le moment où elle aura pu être portée à sa connaissance.</p>

    <h2>2. Commandes</h2>
    <p>Toute prestation est conditionnée par la réception d'une commande écrite par le Prestataire, comportant obligatoirement le numéro de commande sur toutes les correspondances et documents afférents. Le Prestataire s'engage à confirmer chaque commande dans un délai de [nombre de jours] suivant sa réception.</p>

    <h2>3. Délais</h2>
    <p>Les délais sont spécifiés dans la commande et sont impératifs. Tout retard dans la livraison des prestations doit être notifié par écrit à Paris 2024 dès sa survenance. Paris 2024 se réserve le droit de résilier la commande en cas de retard non justifié.</p>

    <h2>4. Qualité</h2>
    <p>Les prestations doivent être réalisées conformément aux normes en vigueur et aux règles de l'art. Le Prestataire garantit la qualité et la conformité des produits ou services fournis. Tout défaut de conformité constaté après la livraison pourra donner lieu à un remplacement ou à un remboursement, aux frais du Prestataire.</p>

    <h2>5. Prix</h2>
    <p>Les prix convenus dans la commande sont fermes et non révisables, sauf accord écrit contraire de Paris 2024. Les prix comprennent toutes les charges liées à la prestation, y compris les frais de transport, de livraison, et les taxes applicables. Aucun frais supplémentaire ne sera accepté sans l'accord préalable de Paris 2024.</p>

    <h2>6. Paiement</h2>
    <p>Le paiement des prestations est effectué selon les modalités convenues dans la commande. Tout retard de paiement donne lieu au paiement d'intérêts de retard conformément à la réglementation en vigueur. Paris 2024 se réserve le droit de suspendre tout paiement en cas de non-respect des engagements contractuels par le Prestataire.</p>

    <h2>7. Force Majeure</h2>
    <p>Aucune des parties ne peut être tenue pour responsable de tout retard ou inexécution résultant d'un cas de force majeure, tel que défini par la loi applicable. En cas de survenance d'un cas de force majeure, la partie concernée devra en informer immédiatement l'autre partie par écrit et prendre toutes les mesures raisonnables pour atténuer les conséquences de cet événement.</p>

    <h2>8. Litiges</h2>
    <p>Tout litige relatif à l'interprétation ou à l'exécution des présentes conditions générales sera soumis à la compétence exclusive des tribunaux compétents du ressort de Paris. Les parties s'engagent à rechercher une solution amiable à tout différend qui pourrait survenir dans le cadre de l'exécution du contrat.</p>

    <!-- Ajoutez autant de sections que nécessaire pour couvrir tous les aspects des conditions générales d'achat -->

    <h2>9. Confidentialité</h2>
    <p>Le Prestataire s'engage à traiter comme strictement confidentielles toutes les informations, documents et données qui lui sont communiqués par Paris 2024 dans le cadre de l'exécution du contrat. Ces informations ne pourront être divulguées à des tiers sans l'accord écrit préalable de Paris 2024.</p>

    <h2>10. Assurance</h2>
    <p>Le Prestataire doit souscrire et maintenir en vigueur une assurance responsabilité civile couvrant les risques liés à l'exécution du contrat. Une attestation d'assurance devra être fournie à Paris 2024 sur simple demande.</p>

    <h2>11. Propriété Intellectuelle</h2>
    <p>Tout droit de propriété intellectuelle découlant de l'exécution du contrat appartient exclusivement à Paris 2024. Le Prestataire cède à Paris 2024 tous les droits de propriété intellectuelle sur les produits ou services fournis dans le cadre du contrat.</p>

    <h2>12. Durée et Résiliation</h2>
    <p>Les présentes conditions générales restent en vigueur tant que Paris 2024 passe des commandes au Prestataire, sauf résiliation anticipée par l'une ou l'autre des parties conformément aux dispositions contractuelles. En cas de résiliation, les obligations restantes des parties survivront à la résiliation du contrat.</p>

    <p>Ces conditions générales d'achat sont destinées à protéger les intérêts de Paris 2024 tout en établissant des relations commerciales transparentes et équitables avec ses fournisseurs.</p>
</div>
{% endblock %}
