{% extends "base.html.twig" %}

{% block content %}

	{% block title %}Formulaire d'inscription
	{% endblock %}
	<br><br><br>

	{% block menuDroite %}
		{% if app.user %}
			<div class="d-flex justify-content-center bg-secondary">
				{{app.user.prenom}}
				{{app.user.nom}}
				<h2>
					Votre statut:
					{{app.user.role}}<h2></div>
				{% else %}
					<br><br><br>
					<h1>S'enregistrer</h1>

					<div class="d-flex justify-content-center ">
						<div class="form-group  bg-body rounded ">
							{{ form_start(registrationForm) }}
							{{ form_end(registrationForm) }}
							<br>
							<br>
								Déja inscrit ?
							</button> 
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}


	{% endblock %}
