<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeux Olympiques Paris 2024</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    /* Header */
    .navbar {
      background-color: #022366; /* Bleu foncé */
      z-index: 1000;
    }
    
    
    .navbar-brand img {
      max-width: 100%;
      height: auto;
      max-height: 60px;
    }
    
    .navbar-nav .nav-link {
      color: #FFFFFF;
      font-weight: bold;
      transition: color 0.3s ease;
    }
    
    .navbar-nav .nav-link:hover {
      color: #FFC627; /* Jaune */
    }
    
    /* Footer */
    footer {
      background-color: #022366; /* Bleu foncé */
      color: #FFF;
      padding: 60px 0;
    }
    
    footer a {
      color: #FFF;
      transition: color 0.3s ease;
    }
    
    footer a:hover {
      color: #FFC627; /* Jaune */
    }
    
    footer .footer-logo img {
      width: 150px;
      margin-bottom: 30px;
    }
    
    footer .social-icons a {
      color: #FFF;
      font-size: 24px;
      margin-right: 15px;
      transition: color 0.3s ease;
    }
    
    footer .social-icons a:hover {
      color: #FFC627; /* Jaune */
    }
  </style>
</head>
<body>

  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top >
      <div class="container">
        <a class="navbar-brand mx-auto" href="/">
          <img src="{{asset('assets/img/jo2024.png')}}" alt="Logo JO 2024">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/evenement">Billetterie</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ asset('assets/img/grille-tarifaire.pdf') }}">Grille tarifaire</a>
              
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="/mon-panier">Panier</a>
            </li>
          </ul>
        </div>
        <div class="navbar-item-custom">
          {% if app.user %}
          <a href="{{path('app_profil')}}" class="nav-link">Mon compte
            <small>({{app.user.firstname}})</small>
          </a>
          <a href="{{path('app_logout')}}" class="nav-link">Deconnexion</a>
          {% else %}
          <a href="{{path('app_login')}}" class="nav-link">Connexion</a>
          <a href="{{path('app_register')}}" class="nav-link">Inscription</a>
          {% endif %}
        </div>
        <a href="{{path('cart')}}" class="nav-link">
          <img src="{{asset ('assets/img/039 shopping-cart.png') }}" class="cart_icon" alt="mon panier">
        </a>
      </div>
    </nav>
  </header>

  <!-- Main content -->
  <main role="main" class="container">
    <div class="marketing">
      {% block content2 %}{% endblock %}
    </div>
    
    <div class="container marketing">
      {% block content %}{% endblock %}
    </div>
  </main>

  <!-- Footer -->
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="{{asset('assets/img/jo2024.png')}}" alt="Logo JO 2024">
          </div>
          <p>Bienvenue sur notre plateforme dédiée aux Jeux Olympiques de 2024 à Paris. Restez informé des dernières actualités et événements à ne pas manquer !</p>
        </div>
        <div class="col-md-4">
          <h5>Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="text-white">Calendrier des événements</a></li>
            <li><a href="#!" class="text-white">Lieux des compétitions</a></li>
            <li><a href="/evenement" class="text-white">Billetterie</a></li>
            <li><a href="/terms-of-service" class="text-white">Conditions Générales d'Achat</a></li>
            <li><a href="/privacy-policy" class="text-white">Politique de confidentialiter</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <p><i class="fas fa-map-marker-alt"></i> Paris, France</p>
          <p><i class="fas fa-envelope"></i> info@jo2024.paris</p>
          <p><i class="fas fa-phone"></i> +33 1 23 45 67 89</p>
        </div>
      </div>
      <hr class="mt-4">
      <div class="social-icons mt-3">
        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
      </div>
      <p class="mt-3">© 2024 Jeux Olympiques Paris | Tous droits réservés</p>
    </div>
  </footer>

  <!-- Bootstrap core JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
