<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Billet JO 2024</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .ticket-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            background: #FFF;
        }
        .ticket-header,
        .footer-instructions {
            text-align: center;
            margin-bottom: 30px;
        }
        .footer-instructions {
            background-color: #EFEFEF;
            padding: 10px;
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 0; /* Remove extra spacing at the bottom */
        }
        .qr-code {
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>

<div class="ticket-container">
    <div class="ticket-header">
        {# <img src="{{ asset('path_to_olympic_logo.png') }}" alt="Logo JO 2024" style="max-width:100px;"> <!-- Inline styling for the logo size --> #}
        {# <img src="{{asset('assets/img/jo2024.png')}}" alt="Logo JO 2024" style="max-width:100px; "> #}

    </div>

    {% for item in ticket %}
    <div class="ticket-body">
        <div class="ticket-info">
            <p><strong>Sport:</strong> {{ item.sport }}</p>
            <p><strong>Type:</strong> {{ item.type }}</p>
            <p><strong>Date:</strong> {{ item.date|date('d-m-Y H:i') }}</p>
        </div>
        <div class="qr-code">
            <img src="{{ qrcode }}" alt="QR Code">
        </div>
    </div>
    {% endfor %}

<div class="footer-instructions">
    <p>Accédez à l’événement JO2024 en présentant ce billet unique aux contrôles et veillez à l’accompagnement de tous les spectateurs simultanément.</p>
    <p>La reproduction non autorisée de ce billet est interdite et soumise à des conséquences légales; tout duplicata peut entraîner un refus d’entrée sans remboursement.</p>
</div>

</div>

</body>
</html>
