
{% extends "base.html.twig" %}

{% block title %}
    Mon panier
{% endblock %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>


<body>
<section class="container my-3">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Offre</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for element in data %}
                    <tr>
                        <td>
                            <img src="/uploads/{{ element.Event.illustration }}" alt="{{ element.Event.name }}" height="75px">
                        </td>
                        <td>{{ element.Event.description }}</td>
                        <td>{{ (element.price / 100) | number_format(2, ',' , '.') }}</td>
                        <td>{{ element.type }}</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ (element.price * element.quantity / 100) | number_format(2, ',' , '.') }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="total-section">
                <tr>
                    <td colspan="4">Total</td>
                    <td>
                        {% set total = 0 %}
                        {% for item in data %}
                            {% set total = total + item.price * item.quantity %}
                        {% endfor %}
                        {{ (total / 100) | number_format(2, ',' , '.') }} €
                    </td>
                </tr>
                </tfoot>
            </table>
            <a href="{{path('payment_stripe') }}" class="btn btn-primary">Payer {{ (total / 100) | number_format(2, ',' , '.') }} €</a>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}
