<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merci pour votre commande!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Merci pour votre commande!</h1>
  </header>
  <section>
    <p>Votre commande a été traitée avec succès. Nous vous remercions de votre achat!</p>
    <p>Vous recevrez bientôt un email de confirmation avec les détails de votre commande.</p>
    <a href="{{ path('home') }}" class="btn">Revenir à l'accueil</a>
  </section>
  <footer>
    <p>© 2024 Votre Société. Tous droits réservés.</p>
  </footer>
</body>
</html>