{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Ajoute ici tes styles personnalisés */
        body {
            background-color: #f8f9fa; /* Couleur de fond */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police de caractères */
        }
        .card {
            border: none; /* Supprimer la bordure des cartes */
            border-radius: 15px; /* Coins arrondis */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre douce */
            transition: box-shadow 0.3s ease-in-out; /* Transition pour l'ombre */
        }
        .card:hover {
            box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol */
        }
        .btn-primary {
            background-color: #4CAF50; /* Couleur du bouton */
            border: none; /* Supprimer la bordure */
            border-radius: 25px; /* Coins arrondis */
            padding: 10px 20px; /* Espacement à l'intérieur du bouton */
            font-weight: bold; /* Texte en gras */
            transition: background-color 0.3s ease-in-out; /* Transition pour la couleur de fond */
        }
        .btn-primary:hover {
            background-color: #45a049; /* Couleur du bouton au survol */
        }


        /* Ajoute d'autres styles personnalisés ici */
    </style>
{% endblock %}

{% block content %}
<br><br>
<br><br>
<br><br>

	<div id='css_profil'>

                                    <div style='height:50%; float: left;' class='container col-3 mt-5'>
    <H3>VOTRE COMPTE</H3>
    <h5 style="background:black; color:white;">
        MEMBRE
        {% if is_granted('ROLE_ADMIN') %}
            Administrateur
        {% else %}
            Classique
        {% endif %}
    </h5>
    <br>
    <br>
    {# lien de redirection #}
    <a href="{{ path('app_profil') }}">
        <h5 style="color:#53736A;">
            Votre profil          >
        </h5>
    </a>
    <br>
    <a href="{{ path('app_dashboard_user') }}">
        <h5 style="color:#53736A;">
            Vos réservations           >
        </h5>
    </a>
</div>





                <section class="container shadow p-5 mb-5 bg-white rounded">

                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <a href="{{ path('home') }}" class="text-decoration-none text-dark"><h4 class="mb-4">Retour à l'accueil</h4></a>

                            {% for order in myOrders|reverse %}
                                <div class="card mb-4">
                                    <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Commande N° {{ order.reference }}</h5>
                                        <button class="btn btn-primary toggle-details" data-target="ticket-details-{{ order.reference }}">Voir détails</button>
                                    </div>
                                    <div class="card-body d-none" id="ticket-details-{{ order.reference }}">
                                        <ul class="list-group list-group-flush">
                                            {% for ticket in myTickets|reverse %}
                                                {% if ticket.reference == order.reference %}
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span>{{ ticket.description }}</span>
                                                            <span>{{ ticket.price }} €</span>
                                                        </div>
                                                        <p class="mb-0"><strong>Image:</strong> {{ ticket.image }}</p>
                                                        <p class="mb-0"><strong>Sport:</strong> {{ ticket.sport }}</p>
                                                        <p class="mb-0"><strong>Type:</strong> {{ ticket.type }}</p>
                                                        <p class="mb-0"><strong>Date:</strong> {{ ticket.date|date('d-m-Y H:i') }}</p>
                                                        <p class="mb-0"><strong>Id:</strong> {{ ticket.idTicket }}</p>
                                                        <p class="mb-0"><strong>PDF:</strong> <a href="{{ path('pdf',{id: ticket.idTicket }) }}" onclick="disableLink(this)" class="text-decoration-none">Télécharger mon PDF</a></p>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll('.toggle-details');

        toggleButtons.forEach(button => {
            button.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const targetDetails = document.getElementById(targetId);
                targetDetails.classList.toggle('d-none');
                this.textContent = (this.textContent === 'Voir détails') ? 'Cacher détails' : 'Voir détails';
            });
        });
    });
</script>
{% endblock %}
